/*-----------------------------
 NAVIGASI & HEADER STYLE
--------------------------------*/

/*Navigasi*/
@media screen and (max-width : 768px) {
    .navbar-collapse.collapse {
        display : none !important;
        }

    .navbar-default {
        background    : #fff !important; //255, 255, 255, 0.5
        padding       : 0;
        border-bottom : none;
        }
    }

@media (min-width : 768px) {
    .navbar-default {
      /*background-color   : rgba(0,0,0,0.1);*/
      background: linear-gradient(to top, rgba(255,255,255,0) 0,#000 100%);
      padding            : 10px 0;
      border       : none;
      ul.menu{
        li.wellcome a{
        color: #fff;
        }
      }
        -webkit-transition : all .5s ease-in-out;
        -moz-transition    : all .5s ease-in-out;
        transition         : all .5s ease-in-out;
        }

    .sticky-nav.navbar-default {
        background: #fff;
        background-color : #fff; //255, 255, 255, 0.5
        padding          : 5px 0;
        border-bottom: 1px solid #fafafa;
          ul.menu{
            li.wellcome a{
            color: #111;
            }
          }
          .menu-navbar-g{

            .trigger-menug{
              color: #111;
            }
          }
          .btn-login-box{
            a{
              color: #111;
            }
          }
          .lang-toggle{
            color: #111;
          }
          .menu-navbar-g .list-menug{

            top:55px;
          }
          .cbp-tm-show .cbp-tm-submenu{
            li{
              border: 1px solid #fafafa;
              border-top: 0;
            }

          }
          .cbp-tm-menu > li {

              .message-icon{
                position: relative;
                background:url('../img/Message-black.png');background-size:30px;
                background-repeat: no-repeat;
                background-position: center;
                min-width: 40px;
                height: 100%;

              }
              .notification-icon{
                background:url('../img/notification-black.png');
                background-size:30px;
                background-repeat: no-repeat;
                background-position: center;
                min-width: 40px;
                height: 100%;
              }
              a{
                color: #000;
              }
          }



        }

    .navbar-right .dropdown-menu {
        right : auto;
        }
    }

.navbar-default {
    margin-bottom : 0;
		ul.menu{
			margin-top: 5px;
			li.wellcome {

				img.userImg{
					border-radius: 50%;
					height: 35px;
					width: 35px;
				}
				a{
					line-height: 30px;
					margin-left: 5px;
					vertical-align: middle;
					font-size: 14px;
					font-weight: bold;
				}
			}
		}


    }
    .lang-toggle{
      color: #fff;
    }
    .menu-navbar-g{

      label.trigger-menug{
        color: #fff;


      }

    }
    .btn-login-box{
      line-height: 28px;
      //margin: 0 0 0 10px;
      margin: 0.5em 0 0.5em 1em;
      a{
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
    }

.navbar-brand {
    padding        : 0.5em;
    height         : 60px;
      img{
        max-height: 60px;
        max-width: 100px;
      }
    }


.navbar-default .navbar-nav > li {
    margin-right : 17px;
    }

.navbar-default .navbar-nav > li:last-child {
    margin-right : 0px;
    }

.navbar-default .navbar-nav > li > a {
    color          : #111;
    font-size      : 13px;
    font-weight    : 700;
    padding        : 8px 17px;

    text-transform : uppercase;
    }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color            : #111;
    background-color : transparent;
    border           : 2px solid #111;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color            : #111;
    background-color : transparent;

    }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color : #111;
    }

.nav-cta {
    float              : right;
    margin-right       : 40px;
    margin-left        : 20px;
    line-height        : 40px;
    -webkit-transition : all .3s ease-in-out;
    -moz-transition    : all .3s ease-in-out;
    transition         : all .3s ease-in-out;
    }

.nav-cta > li > a {
    display     : inline-block;
    color       : #111;
    width       : 20px;
    height      : 34px;
    line-height : 34px;
    text-align  : center;
    }

.nav-cta .dropdown-menu {
    left  : auto;
    right : 0;
    }

.pencarian {
    width : 370px;
    }

.pencarian {
    padding : 8px;
    }

.pencarian .form-control {
    height : 40px;
    }

.pencarian .btn {
    padding : 10px 20px;
    }

/*Dropdown Menu

.dropdown-menu {
    display            : inherit;
    top                : 100% !important;
    padding            : 0;
    font-size          : 13px;
    opacity            : 0;
    visibility         : hidden;
    border             : 1px solid #f5f5f5;
    border-radius      : 0;
    box-shadow         : 0px -2px 0px #000000;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    }

.dropdown:hover .dropdown-menu {
    display    : block;
    margin-top : 28px !important;
    opacity    : 1;
    visibility : visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    }

.dropdown-menu::before {
    top      : -30px;
    content  : "";
    position : absolute;
    width    : 100%;
    height   : 30px;
    display  : block;
    }
    */

.sticky-nav .dropdown:hover .dropdown-menu {
    margin-top : 14px !important;
    }

.judul-kolom {
    font-size      : 11px;
    line-height    : 30px;
    font-weight    : 600;
    color          : #313131;
    text-transform : uppercase;
    }

.dropdown-menu li a {
    display     : block;
    font-size   : 13px;
    line-height : 30px;
    color       : #969595;
    padding     : 3px 20px;
    }

.dropdown-menu li a:hover {
    color            : #72D8C4;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color            : #72D8C4;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color            : #000000;
    background-color : transparent;
    }

/*Mega Menu*/
.m-menu .nav,
.m-menu .collapse,
.m-menu .dropup,
.m-menu .dropdown {
    position : static;
    }

.m-menu .container {
    position : relative;
    }

.m-menu .dropdown-menu {
    left : auto;
    }

.m-menu .m-menu-kolom {
    }

.m-menu .dropdown.m-menu-fw .dropdown-menu {
    left  : 15px;
    right : 15px;
    }

.m-menu-kolom ul {
    border-right : 1px solid #f5f5f5;
    padding      : 20px;
    }

.m-menu-kolom ul:last-of-type {
    border-right : 0;
    }

@media (max-width : 768px) {
    .navbar-toggle {
        display : block;
        }
    }

.navbar-toggle {
    position      : absolute;
    right         : 0;
    padding       : 5px 10px;
    border        : 0;
    border-radius : 0;
    }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color : transparent;
    }

.navbar-toggle .icon-bar {
    width  : 14px;
    height : 3px;
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color : #111;
    }

.navbar-toggle .icon-bar + .icon-bar {
    margin-top : 2px;
    }

/*uc-mobile-menu*/
.uc-mobile-menu {
    }

.uc-mobile-menu-container > div {
    visibility : hidden;
    }

#menu {
    margin : 5em 0;

    }

#menu > li {
    text-transform : uppercase;
    padding: 0.5em 2em;
    }

#menu > li:last-child {
    border-bottom : 0;
    }

#menu > li ul li {
    margin-left : 0;
    color       : #999999;

    }

#menu li a {
    display         : block;
    text-decoration : none;
    color           : #fff;
    padding         : 10px 0;
    font-weight: bold;
    font-size: 16px;
    //border-bottom: 1px dotted #444;
    }


#menu li a:hover,
#menu li.active a {
    color : #ffffff;
    }


/*Mobile Menu Close*/
.uc-mobile-menu .close {
    position           : absolute;
    right              : 0;
    top                : 0;
    color              : #fff;
    text-shadow        : none;
    filter             : alpha(opacity=50);
    opacity            : .5;
    font-size          : 48px;
    width              : 48px;
    font-weight: 400;
    height             : 48px;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

.uc-mobile-menu .close:hover {
    opacity : 1;
    }

.canvas-menu-list{
  margin: 3em 0;
  li{
    a{
      color: #fff;
    }
  }
  li:active{
    background-color: #fff;
  }
}


/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
	display: block;
	position: absolute;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	background: transparent;
	text-align: right;
	padding: 0 2em;
	margin: 0;
	text-transform: capitalize;
}

/* first level menu items */
.cbp-tm-menu > li {
	display: inline-block;
	margin: 0 0.5em;
	position: relative;
  img.userImg{
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
    .iicon{
      position: relative;
      line-height: 2.2em;
      background-size:30px;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 40px;
      height: 100%;
        .circlecount{
          display: block;
          border-radius: 50%;
          behavior: url(PIE.htc); /* remove if you don't care about IE8 */
          width: 25px;
          height: 25px;
          padding: 0.1em 0.9em;
          background-color: $coloridentitas1;
          margin-bottom: 1.5em;
          margin-left: 1.8em;
          font-size: 12px;
          color: #fff;
        }
        .circlecoun{
          display: block;
          border-radius: 50%;
          behavior: url(PIE.htc); /* remove if you don't care about IE8 */
          width: 25px;
          height: 25px;
          padding: 0 0.8em;
          background-color: $coloridentitas1;

          margin-bottom: 1.3em;
          margin-left: 1.8em;
          font-size: 12px;
          color: #fff;
        }
    }
    .message-icon{
      background:url('../img/Message-white.png');
      background-size:30px;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 40px;
      height: 100%;
    }
    .notification-icon{
      background:url('../img/notification-white.png');
      background-size:30px;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 40px;
      height: 100%;
    }

}

.cbp-tm-menu > li > a {
	//line-height: 4em;
	//padding: 0 0.3em;
	font-size: 14px;
	display: block;
	color: #fff;
}
.cbp-tm-menu > li > a.dropmenuu{line-height: 4em;}



.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
	color: $coloridentitas1;
}

/* sumbenu with transitions */
.cbp-tm-submenu {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: left;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu {
	width: 16em;
	left: 50%;
	margin: 0 0 0 -8em;

	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
/*
  -webkit-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.51);
box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.51);*/
}

.cbp-tm-show-above .cbp-tm-submenu {
	bottom: 100%;
	padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
	top: 100%;
	padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
	right: 0;
	left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
	left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
	right: 0;
}

/*
arrow: depending on where the menu will be shown, we set
the right position for the arrow
*/

.cbp-tm-submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;


}

.cbp-tm-show-above .cbp-tm-submenu:after {
	top: 100%;
	margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}

.cbp-tm-submenu:after {
	border-color: transparent;
	border-width: 16px;
	margin-left: -16px;
	left: 50%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	border-top-color: #fff;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	border-bottom-color: #fff;
}

.cbp-tm-submenu > li {
	display: block;
	background: #fff;

}

.cbp-tm-submenu > li > a {
	padding: 5px 2.3em 5px 0.6em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 12px;
	position: relative;
	color: #000;
	border: 4px solid #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;

}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
	color: #fff;
	background: $coloridentitas1;
}


/* the icons (main level menu icon and sublevel icons)
.cbp-tm-submenu li a:before,
.cbp-tm-menu > li > a:before {
	font-family: 'cbp-tmicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}

.cbp-tm-submenu li a:before {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	right: 0.5em;
}

.cbp-tm-menu > li > a:not(:only-child):before {
	content: "\f0c9";
	font-size: 60%;
	opacity: 0.3;
}

.cbp-tm-icon-archive:before {
	content: "\e002";
}

.cbp-tm-icon-cog:before {
	content: "\e003";
}

.cbp-tm-icon-users:before {
	content: "\e004";
}

.cbp-tm-icon-earth:before {
	content: "\e005";
}

.cbp-tm-icon-location:before {
	content: "\e006";
}

.cbp-tm-icon-mobile:before {
	content: "\e007";
}

.cbp-tm-icon-screen:before {
	content: "\e008";
}

.cbp-tm-icon-mail:before {
	content: "\e009";
}

.cbp-tm-icon-contract:before {
	content: "\e00a";
}

.cbp-tm-icon-pencil:before {
	content: "\e00b";
}

.cbp-tm-icon-article:before {
	content: "\e00c";
}

.cbp-tm-icon-clock:before {
	content: "\e00d";
}

.cbp-tm-icon-videos:before {
	content: "\e00e";
}

.cbp-tm-icon-pictures:before {
	content: "\e00f";
}

.cbp-tm-icon-link:before {
	content: "\e010";
}

.cbp-tm-icon-refresh:before {
	content: "\e011";
}

.cbp-tm-icon-help:before {
	content: "\e012";
}
 */

/* Media Queries */
@media screen and (max-width: 55.6875em) {
	.cbp-tm-menu {
		font-size: 80%;
	}
}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

	.cbp-tm-menu {
		font-size: 100%;
		position: relative;
		text-align: center;
		padding: 0;
		top: auto;
	}

	.cbp-tm-menu > li {
		display: block;
		margin: 0;
		border-bottom: 4px solid #3793ca;
	}

	.cbp-tm-menu > li:first-child {
		border-top: 4px solid #3793ca;
	}

	li.cbp-tm-show > a,
	.no-touch .cbp-tm-menu > li > a:hover,
	.no-touch .cbp-tm-menu > li > a:active {
		color: #fff;
		background: #02639d;
	}

	.cbp-tm-submenu {
		position: relative;
		display: none;
		width: 100%;
	}

	.cbp-tm-submenu > li {
		padding: 0;
	}

	.cbp-tm-submenu > li > a {
		padding: 0.6em 2.3em 0.6em 0.6em;
		border: none;
		border-bottom: 2px solid #6fbbe9;
	}

	.cbp-tm-submenu:after {
		display: none;
	}

	.cbp-tm-menu .cbp-tm-show .cbp-tm-submenu {
		display: block;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
	}

}
