
html,body{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-color: $mainbg;
  margin: 0;
  padding: 0;
}
body {

    //font-family : 'Lato', sans-serif;
    font-family: 'texgyreadventorregular';
    font-size   : 13px;
    line-height : 24px;
    color       : #111;
    font-weight : 500;
    /* --------------------
       main Wrapper
       -------------------*/
    #main-wrapper{
        position: relative;
        min-height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        background-color: $mainbg;

        .uc-mobile-menu-pusher{
          position: relative;
          min-height: 100%;
          min-width: 100%;
        }

        .content-wrapper{
          position: relative;
          min-width: 100%;
          min-height: 100%;


        }

    }

    ul.nulstyle{
      list-style: none;
      margin: 0;
      padding: 0;

    }
/* --------------------------------------
typografi
------------------------------------------*/


.dateDefault{
  span{border:0; background-color:#fafafa;}
}

.boxed{
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  height: auto;
}
.boxed80{
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  height: auto;
}
.boxed70{
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  height: auto;
}

.boxed60{
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  height: auto;
}
.boxed50{
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  height: auto;
}



h1, h2, h3, h4, h5, h6 {
    margin      : 0 0 15px;
    color       : #313131;
    font-weight : 400;

    }

h1 {
    font-size   : 30px;
    line-height : 24px;
    }

h2 {
    font-size   : 24px;
    line-height : 24px;
    }

h3 {
    font-size   : 20px;
    line-height : 24px;
    }

h4 {
    font-size   : 18px;
    line-height : 24px;
    }

h5 {
    font-size   : 16px;
    line-height : 24px;
    font-weight : 600;
    }

h6 {
    font-size   : 14px;
    line-height : 24px;
    }

/* --------------------------------------
link --> a
------------------------------------------*/
a {
    color              : $coloridentitas1;
    text-decoration    : none;
    cursor: pointer;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    color: $coloridentitas1;
    opacity: 0.8;
    }


ul.default-ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
    }


/* --------------------
  Background
   -------------------*/

.gray-bg {
    background-color : #f9f9f9;
    }

.white-bg {
    background-color : #fff;
    }

/**Navbar**/
.menu-navbar-g{
  display: inline-block;
  width: auto;
  margin: 0.5em 0;
  input{display: none;}
  .trigger-menug{
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    img.userImg{
      margin-right: 10px;
      border-radius: 50%;
      height: 35px;
      width: 35px;
    }
  }

   .list-menug li{
    display: block;
    width: auto;
    background-color: #fff;
    padding: 15px 20px;
    a{color: #111;font-size: 14px;}
  }
  .list-menug li:hover{
    background-color: $coloridentitas1;
    color: #fff;
    cursor: pointer;
    a{color: #fff}
  }
  input ~ .list-menug{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 65px;
    top: -20px;
  }
  input:checked + .trigger-menug{}
  input:checked ~ .list-menug{
    visibility: visible;
    opacity: 1;
    top:50px;
  }
}
.animate{
 -webkit-transition: all .3s;
 -moz-transition: all .3s;
 -ms-transition: all .3s;
 -ms-transition: all .3s;
 transition: all .3s;
 backface-visibility:hidden;
 -webkit-backface-visibility:hidden; /* Chrome and Safari */
 -moz-backface-visibility:hidden; /* Firefox */
 -ms-backface-visibility:hidden; /* Internet Explorer */
}

.lang-toggle{
  position: relative;
  margin: 0.5em 0;
  margin-left: 1em;
  width: auto;
  select.lang-dropdown{
    padding: 5px;
    width: 55px;
    border: none;
    box-shadow: none;

    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url('../img/caret-down.png') no-repeat transparent;
    background-position: right 1em top 50%;
    background-size: 8px 8px;
      font-size: 14px;
      font-weight: bold;
      option{
        background-color: #fff;
      }
      option:hover{
        background-color: $coloridentitas1;
      }
  }
  select.lang-dropdown:focus{
    outline: none;
  }
}


/*Button */
button{-webkit-transition : all 0.3s ease 0s;
-moz-transition    : all 0.3s ease 0s;
-o-transition      : all 0.3s ease 0s;
transition         : all 0.3s ease 0s;}
a.btn{
  display: block;
  width: 100%;
}
.btn {
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 13px;
    border-radius  : 0;
    text-transform : capitalize;
    width: 100%;
    border-radius: 3px;
    }

.btn-primary {
  color            : $coloridentitas1;
  background-color : transparent;
  border-color     : $coloridentitas1;
    }

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  color            : #fff;
  background-color : $coloridentitas1;
  border-color     : $coloridentitas1;
    }

.btn-default {
    color            : #fff;
    background-color : $coloridentitas1;
    border-color     : $coloridentitas1;

    }

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    color            : $coloridentitas1;
    background-color : transparent;
    border-color     : $coloridentitas1;
    }

.btn-black {
    color            : #ffffff;
    background-color : #313131;
    border-color     : #313131;
    }

.btn-black:focus,
.btn-black:hover {
    color            : #313131;
    border-color     : #313131;
    background-color : transparent !important;
    }

button:focus,
.btn:focus,
.btn:active:focus {
    outline : none;
    }

/* -------------------
   Padding
   --------------------*/
.pt-100 {
    padding-top : 100px;
    }

.ptb-90 {
    padding-bottom : 90px;
    padding-top    : 90px;
    }

.ptb-100 {
    padding-top    : 100px;
    padding-bottom : 100px;
    }

.ptb-150 {
    padding-top    : 150px;
    padding-bottom : 150px;
    }

.ptb-160 {
    padding-top    : 160px;
    padding-bottom : 160px;
    }

.ptb-170 {
    padding-top    : 170px;
    padding-bottom : 170px;
    }

@media (min-width : 768px) {

    .pl-30 {
        padding-left : 30px;
        }

    .pr-30 {
        padding-right : 30px;
        }
    }


/* ----------------------------------------------
text-highlights
------------------------------------------------- */
.text-highlights {
    color   : #ffffff;
    padding : 0px 5px;
    }

.text-highlights.black {
    background : #313131;
    }

.text-highlights.blue {
    background : $coloridentitas1;
    }



/* ------------------------------------------------------------------
BACK TO TOP
--------------------------------------------------------------------- */
#toTop {

    position    : fixed;
    bottom      : 30px;
    right       : 30px;
    color       : $coloridentitas1;
    cursor      : pointer;
    display     : none;
    z-index     : 9999;
    width       : 30px;
    height      : 30px;
    border      : 2px solid $coloridentitas1;
    text-align  : center;
    font-size   : 18px;
    line-height : 24px;
    }

#toTop:hover {
    color              : #ffffff;
    background-color   : $coloridentitas1;
    border             : 1px solid transparent;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

    label{
      font-size: 14px;
      color: #263238;
      font-weight: normal;
    }

    /*input style*/
    			.inputDefault{
    				width: 100%;
    				box-shadow: none;
    				outline: none;
    				border-color: $colorinput;
    				background-color: $colorinput;
    				border-radius: 3;

    			}
    			.inputDefault:active,.inputDefault:visited,.inputDefault:focus {

    					box-shadow: none;
    					outline: none;
    					border-color: $colorinput;
    			}


    /*select box default*/
    .selectBoxDefault{

    	.selectWarp{
    		width: 100%;
    		position:relative;
    		display: -moz-inline-stack;
    		display: inline-block;
    		vertical-align: middle;
    		zoom: 1;
    		*display: inline;
    		color: #757575;

    		select{

    			width: 100%;
    			padding: 6px ;
    			height: auto;
    			-webkit-appearance:none;
    			-moz-appearance:none;
    			appearance:none;
    			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    			box-sizing: border-box;
    			/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    			position:relative;
    			background: url('../img/angle-down.png') no-repeat $colorinput;
    			background-position: right 1em top 50%;
    			background-size: 10px 10px;
    			box-shadow: none;
    			outline: none;
    			border-color: $colorinput;
    			color: #757575;
    			option{
    				color: #757575;
    			}
    		}
    		select:hover,select:active,select:focus{
    			box-shadow: none;
    			outline: none;
    			border-color: #eee;


    		}
    	}
    	/*.selectWarp:after{
    		content: "\f107";
    		font-family: FontAwesome;
    		padding:8px;
    		position:relative;
    		//left:80%;
    		float: right;
    		right: 15px;
    		top:-25px;
    		z-index: 1;
    		width:5px;
    		line-height:5px;
    	}*/
    }

}

.intl-tel-input{
  width: 100%;
  .selected-flag{
    border-right: 1px solid #bdbdbd;
    padding: 0 3.5em 0 8px;
  }

}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel]{
  padding-left: 65px;
}

.modal{
  .modal-dialog{
    .modal-content{
      .modal-header{
        .modal-title{
          font-size: 18px;
          text-align: center;
        }
        button.close{
          position: absolute;
          top:0.5em;
          right: 1em;
        }
      }
    }
  }
}
