//
// Variables
// --------------------------------------------------

//warna
$mainbg :#fff;
$coloridentitas1 :#fc6620;/*oren*/
$coloridentitas2 :#f57e16;/*oren muda*/
$colorinput: #fafafa;
$colorbanner :#EEEEEE;

//font family lato default
$font-lato: 'Lato', sans-serif;
