.akun-setting-wrap{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;
  h1.tittle{
    font-size: 30px;
    text-align: left;
    color: $coloridentitas1;
    font-weight: bold;
  }
    form{
      width: 100%;
      padding: 2em 0;
      position: relative;
      label{
        font-size: 14px;
        font-weight: bold;

      }



      .btn-wrap23{
        position: relative;
        margin: 2em 0;
        width: 100%;
        text-align: center;
          .btn{
            width: 25%;
            padding        : 8px 30px;
          }
      }


    }


}
