.detail-post{
  position: relative;
  width: 100%;
  padding-top: 8em;
  min-height: 400px;
    .tittle-section{
      position: relative;
      width: 100%;
      padding: 2.5em 0;
      border-bottom: 1px solid #bdbdbd;
      margin-bottom: 2em;
    }
    .post-Attr{
      position: relative;
      p{span{color: $coloridentitas1;font-weight: bold;}}
      p.posted-by{font-size: 14px; color: #000;}
      p.datenplace{font-size: 12px;color: #bdbdbd;}
    }

    .post-konten{
      position: relative;
      width: 100%;
      margin: 2em 0;
        p{font-size: 14px;text-align: left;color: #000;}
    }
    .tags-box{
      position: relative;
      width: 100%;
      padding: 1em 0;
      margin: 1em 0;
      border-top: 1px solid #bdbdbd;
      p{font-size: 14px; span{color: #000;font-weight: bold;}}
    }

    .share{
      position: relative;
      float: right;
      width: 90%;
      padding-right: 0;
        .sh-tittle{
          position: relative;
          width: 100%;
          padding: 0.5em 15px;
            p{margin: auto 0; font-size: 14px; font-weight: bold;text-align: center;}
        }
        .share-box{
          position: relative;
          padding: 0.5em;
          width: 100%;
          padding-right: 0;
          text-align: center;

            span{display: inline-block; padding: 1em;
              line-height: 10px;
              margin: 0 auto;
              a{display: block;}
              i{
                color: #fff;
                font-size: 1.2em;
                margin: 0 auto;
              }
            }
            span.fb{
              position: relative;
              background-color: #306199;
              width: 30%;
              text-align: left;

            }
            span.fb a::after{
              content: "FACEBOOK";
              margin-left: 1.8em;
              color: #fff;
              font-weight: 500;
            }
            span.tw{
              background-color: #26c4f1;
              width: 30%;
            }
            span.tw a::after{
              content: "TWITTER";
              margin-left: 2.3em;
              color: #fff;
              font-weight: 500;
            }
            span.gp{
              background-color: #e93f2e;
              width: 15%;
            }
        }
    }
}
