.booking-wrap{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;

    form{
      width: 100%;
      position: relative;
      padding-bottom: 2em;
      label{
        font-size: 14px;
        font-weight: normal;
      }
      .intl-tel-input{
        width: 100%;
      }
      .summary-col{padding-left: 0;}
      .booking-form{
        position: relative;
        width: 100%;
        .tittle-col{padding-right: 0;}
        .lname-col,.national-col{padding-left: 0;}
          h1.tittle{
            font-size: 30px;
            text-align: left;
            color: $coloridentitas1;
          }
          textarea{resize: none;}
      }
      .booking-sumary{
        position: relative;
        width: 100%;

        margin: 0;padding: 0;
        text-align: center;
          .tittle-sumary{
            background-color: $coloridentitas1;
            padding: 5px 15px;
              p.tiText{font-size: 14px;color: #fff; text-align: center;vertical-align: middle;line-height: 20px;margin-top: 5px;}
          }
          .content-summary{
            position: relative;
            width: 100%;
            padding: 1em;
            padding-bottom: 0;
            border: 1px solid #eee;
          }
          .price-summary{
            position: relative;
            width: 100%;
            padding: 1em;
            padding-bottom: 0;
            border: 1px solid #eee;
            border-top: 0;
          }
          .promo-code{
            position: relative;
            width: 100%;
            padding: 1em;
            border: 1px solid #eee;
            border-top: 0;
          }
          h4{font-size: 30px;color: $coloridentitas1;font-weight: bold;}
          p{line-height: 18px;}
          p.price{
            font-size: 18px;
            font-weight: bold;
            color: $coloridentitas1;
          }
          p.txt-summary{
            font-size: 14px;
          }
          p.tinyText{
            font-size: 12px;
            color: #bdbdbd;
          }
          p.black{color: #111; line-height: 20px;}
          .foto-host{
            margin: 1em auto 0.5em auto;
            position: relative;
            img{
              border-radius: 50%;
              height: 80px;
              width: 80px;
            }
          }
      }
      .policy-text{font-size: 14px;width: 90%; margin-top: 1em;}
      .btn-wrap23{
        position: relative;
        margin: 2em 0;
          .btn{
            width: 25%;
            padding        : 8px 30px;
          }
      }


    }
    h1{
      font-size: 30px;
      font-weight: bold;
      color: #000;
      text-align: center;
      margin-bottom: 1em;
    }

}
