.booking2-wrap{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;
    .say-Thanks{
      position: relative;
      width: 100%;
      text-align: left;
        h1{
          font-size: 30px;
          font-weight: bold;
            span{color: $coloridentitas1;}

        }
        p.text,p.regard{
          font-size: 14px;
        }
        p.regard span{color: $coloridentitas1}
    }
    .recommended{
      position: relative;
      width: 100%;
      margin-top: 3em;
        p.tittle-Recommended{
          font-size: 18px;
          font-weight: bold;
        }
    }

}
