.Tittle-create-new-trvel{
  position: relative;
  margin: 0;
  padding-top: 8em;
  width: 100%;
  min-height: 180px;
  background: url('../img/bgpt.png') no-repeat;

  .text-col{padding-left: 0;}

  background-size:cover;
  background-position: center;
  .foto-host{
    text-align: center;
    position: relative;
    padding-bottom: 2.5em;
    img{
      right: 0;
      border-radius: 50%;
      height: 130px;
      width: 130px;
    }
  }
  .wellcome-text{
    position: relative;
    width: 100%;
      padding: 1.5em 0;
        h1.tittle{
          font-size: 30px; font-weight: bold;color: #fff;
          margin-bottom: 1em;
        }
        p{line-height: 15px;font-size: 14px;color: #fff;}
  }
}

.cnt-section{
  position: relative;
  width: 100%;
  margin-top: 0;
  min-height: 300px;
    p.info-text{font-size: 14px;}
}
.label-tittle{
  font-size: 18px;
  font-weight: bold;
  color: #263238;
}
label.label-idr::before{
  position: absolute;
  left: 25px;
  top: 28px;
  content: "IDR";
  font-size: 14px;
  color: #000;
}
.input-idr{
  padding-left: 37px;
}
.tab-Pricing{
  .pricing-konten{
    position: relative;
    width: 100%;
    padding: 2em 0;
    .pricing-box{
      position: relative;
      width: 100%;
      p,h3, .ylget{color: #fff;}
      p,.ylget{font-size: 14px;}
      p.price-person{font-weight: bold;}
      h3{font-size: 18px;text-align: center;}
      .individual-pricing,.group-pricing{
        padding: 1em;
        min-height: 180px;
      }
      .individual-pricing{background-color: $coloridentitas1}
      .group-pricing{background-color: #ffa443}
    }

    .check-option{

    }

    input[type="text"]{margin-bottom: 1em;}
    #map-canvas{
      width: 100%;
      height: 400px;
      margin: 1em auto;
    }
    .map-location{}
  }
}
.tab-exp{
  .exp-konten{
    position: relative;
    width: 100%;
    padding: 2em 0;
    height: auto;
      a.tip-ex{
        font-size: 14px;
        color: $coloridentitas1;
        line-height: 18px;
      }
      a.tip-ex::before{
        font-family: 'FontAwesome';
        content: '\f05a';
        margin-right: 5px;
      }
      button.btn{width: 35%;margin-top: 1em;}
  }

}
textarea{resize: none;}

.cancel-konten{
  position: relative;
  width: 100%;
  padding: 2em 0;
    .c-cp{width: 4%;}
    p.text-cp{ span{color: $coloridentitas1;}}
    a.add-more-number::before{
      font-family: 'FontAwesome';
      content: '\f067';
      margin-right: 5px;
    }
}
.photo-konten{
  position: relative;
  width: 100%;
  padding: 2em 0;
  .id-upload, .licanse-upload{
    position: relative;
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: 3em 0;
    min-height: 200px;
    cursor: pointer;
    background-color: #fafafa;
    //background: url('../img/upload-img.png') no-repeat center #fafafa;
      .upload-bg{
        position: relative;
        width: 100%;
        background: url('../img/upload-img.png') no-repeat center;
        background-size: 60px 60px;
        height: 70px;
      }
      .dropit{
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top:0;
        z-index: 1;
      }
      p{font-size: 14px; text-align: center;color: #bdbdbd;}
  }
}

.tipe-exp{
  text-align: center;
  margin: 1em 0;
  .b2{margin-top: 1.5em;}
  p.exp-Ttext{
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-top: 0.5em;
  }
}

/*exp checkbox*/
::-moz-selection {
background: white;
}

::selection { background: white; }
@-webkit-keyframes
icon-beat {  0% {
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}
100% {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
}
@keyframes
icon-beat {  0% {
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}
100% {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
}



label.ttes{
  display: block;
  position: relative;

  line-height: 28px;
  width: 100px;
  height: 100px;


  img.expImg{
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
  }
  span.txt-exp2{

    margin-left: 5px;
    line-height: 25px;
    //color: gray;
    color: #000;
    font-size: 14px;

  }
  input.trigg + img + span + i.iicon::before{
    font-family: 'FontAwesome';
    //content: '\f067';
    margin-left: 0.5em;
    color: $coloridentitas1;
  }

  input.trigg{display:none;}
  input.trigg + img.expImg::before {

    width: 100px;
    height: 100px;

  }
  input.trigg:checked + img.expImg{
    position: relative;
    -webkit-animation: icon-beat 0.1s ease;
    animation: icon-beat 0.1s ease;
  }
  input.trigg:checked + img.expImg + span.txt-exp2{
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  input.trigg + img + span + i.iicon::before { }

  input.trigg:checked + img + span + i.iicon::before { content: '\f00c'; }

  input.trigg:checked + img.expImg + span.txt-exp2 { color: $coloridentitas1; }
}

label.exp-ceckbox{
  display: block;
  position: relative;

  line-height: 28px;
  width: 100px;
  height: 100px;

  border-radius: 50%;
    i.icon-img{
      display: inline-block;
      position: relative;
      height: 100px;
      width: 100px;
      text-align: center;
    }
    input.trigger-exp-checkbox{display:none;}
    input.trigger-exp-checkbox + i.icon-img::before {

      width: 100px;
      height: 100px;

    }

    input.trigger-exp-checkbox:checked + i.icon-img{
      position: relative;
      -webkit-animation: icon-beat 0.1s ease;
      animation: icon-beat 0.1s ease;
    }

    input.trigger-exp-checkbox:checked + i.icon-img + span.exp-Ttext{

    }


  /*checkbox nature*/
    input.nature-input + i.icon-img::before {
      content: url('../img/icon/nature.png');
    }
    input.nature-input:checked + i.icon-img::before {
      content: url('../img/icon/nature-selected.png');
    }

    /*checkbox nature end*/
    /*checkbox sport*/
      input.sport-input + i.icon-img::before {
        content: url('../img/icon/sport.png');
      }
      input.sport-input:checked + i.icon-img::before {
        content: url('../img/icon/sport-selected.png');
      }
      /*checkbox sport end*/
      /*checkbox spa*/
        input.spa-input + i.icon-img::before {
          content: url('../img/icon/wellness.png');
        }
        input.spa-input:checked + i.icon-img::before {
          content: url('../img/icon/wellness-selected.png');
        }
        /*checkbox spa end*/
        /*checkbox art*/
          input.art-input + i.icon-img::before {
            content: url('../img/icon/art.png');
          }
          input.art-input:checked + i.icon-img::before {
            content: url('../img/icon/art-selected.png');
          }
          /*checkbox spa end*/
          /*checkbox photography*/
            input.photography-input + i.icon-img::before {
              content: url('../img/icon/photography.png');
            }
            input.photography-input:checked + i.icon-img::before {
              content: url('../img/icon/photography-selected.png');
            }
            /*checkbox photography end*/
            /*checkbox shopping*/
              input.shopping-input + i.icon-img::before {
                content: url('../img/icon/shopping.png');
              }
              input.shopping-input:checked + i.icon-img::before {
                content: url('../img/icon/shopping-selected.png');
              }
              /*checkbox shopping end*/
              /*checkbox food*/
                input.food-input + i.icon-img::before {
                  content: url('../img/icon/food-drink.png');
                }
                input.food-input:checked + i.icon-img::before {
                  content: url('../img/icon/food-drink-selected.png');
                }
                /*checkbox food end*/
                /*checkbox Lifestyle*/
                  input.lifestyle-input + i.icon-img::before {
                    content: url('../img/icon/lifestyle.png');
                  }
                  input.lifestyle-input:checked + i.icon-img::before {
                    content: url('../img/icon/lifestyle-selected.png');
                  }
                  /*checkbox Lifestyle end*/
                  /*checkbox workshop*/
                    input.Workshop-input + i.icon-img::before {
                      content: url('../img/icon/workshop.png');
                    }
                    input.Workshop-input:checked + i.icon-img::before {
                      content: url('../img/icon/workshop-selected.png');
                    }
                    /*checkbox workshop end*/
                    /*checkbox music*/
                      input.music-input + i.icon-img::before {
                        content: url('../img/icon/music.png');
                      }
                      input.music-input:checked + i.icon-img::before {
                        content: url('../img/icon/music-selected.png');
                      }
                      /*checkbox music end*/
                      /*checkbox Romantic*/
                        input.romantic-input + i.icon-img::before {
                          content: url('../img/icon/romantic.png');
                        }
                        input.romantic-input:checked + i.icon-img::before {
                          content: url('../img/icon/romantic-selected.png');
                        }
                        /*checkbox Romantic end*/
                        /*checkbox technologi-input*/
                          input.technologi-input + i.icon-img::before {
                            content: url('../img/icon/technology.png');
                          }
                          input.technologi-input:checked + i.icon-img::before {
                            content: url('../img/icon/technology-selected.png');
                          }
                          /*checkbox technologi-input end*/
                          /*checkbox Nightlife-input*/
                            input.Nightlife-input + i.icon-img::before {
                              content: url('../img/icon/nightlife.png');
                            }
                            input.Nightlife-input:checked + i.icon-img::before {
                              content: url('../img/icon/nightlife-selected.png');
                            }
                            /*checkbox Nightlife-input end*/
                            /*checkbox History-input*/
                              input.History-input + i.icon-img::before {
                                content: url('../img/icon/history.png');
                              }
                              input.History-input:checked + i.icon-img::before {
                                content: url('../img/icon/history-selected.png');
                              }
                              /*checkbox History-input end*/
                              /*checkbox Rental-input*/
                                input.Rental-input + i.icon-img::before {
                                  content: url('../img/icon/rental.png');
                                }
                                input.Rental-input:checked + i.icon-img::before {
                                  content: url('../img/icon/rental-selected.png');
                                }
                                /*checkbox Rental-input end*/

}

.tab-guest-inbox{
  .inbox-section{
    margin-top: 2em;
  }
}

.tabs1{background-color: #fafafa;}
