.empty-doc{
  position: relative;
  min-width: 100%;
  min-height: 500px;

  margin: 0;
  padding-top: 6em;
  padding-bottom: 6em;

   p.empty-text{
     margin-top: 4em;
     color: #bdbdbd;
     font-size: 18px;
     text-align: center;
     i{font-size: 60px;}
   }
}
