
.Tittle-Host-reg-sec{
  position: relative;
  margin: 0;
  padding-top: 8em;
  width: 100%;
  min-height: 180px;
  background: url('../img/bgpt.png') no-repeat;

  .text-col{padding-left: 0;}

  background-size:cover;
  background-position: center;
  .foto-host{
    text-align: center;
    position: relative;
    padding-bottom: 2.5em;
    img{
      right: 0;
      border-radius: 50%;
      height: 130px;
      width: 130px;
    }
  }
  .wellcome-text{
    position: relative;
    width: 100%;
      padding: 1.5em 0;
        h1.tittle{
          font-size: 30px; font-weight: bold;color: #fff;
          margin-bottom: 1em;
        }
        p{line-height: 15px;font-size: 14px;color: #fff;}
  }
}

.say-Thanks-sec{
  position: relative;
  width: 100%;
  margin: 1em 0;
  padding: 5em 0;
  min-height: 400px;
    .say-Thanks-box{
      position: relative;
      width: 100%;
      text-align: left;
        h1{
          font-size: 30px;
          font-weight: bold;
          color: #111;
          span{color: $coloridentitas1;}
        }
        p{
          font-size: 14px;
          color: #111;
        }
        p.txt-att{
          width: 55%;
        }
        .btn{
          width: 30%;
          margin-top: 2em;
          font-weight: bold;
        }
    }
}

.Host-Request-section{
  position: relative;
  width: 100%;
  margin: 2em 0;
    h1{font-size: 36px; font-weight: bold;color: $coloridentitas1; text-align: left; line-height: 48px;}
    form{
      position: relative;
      width: 100%;
      padding: 1em 0;
      .photo-upload{
        position: relative;
        width: 100%;
        margin: 2em 0;
          .photo-wrap{
            height: 160px;width: 160px;
            overflow: hidden;
            border-radius: 50%;
            background-color: #111;
          }
          .btn.browse-photo{width: 60%; font-weight: bold;}
          p.img-format{font-size: 14px;color: #111;}
      }
      .input-input{
        position: relative;
        width: 100%;
        margin: 1em 0;
          textarea{resize: none;}
      }
      .upload-IDcard-box,.upload-License-box{
        position: relative;
        width: 100%;
        h3{font-size: 18px;font-weight: bold;color: #111;}
        .id-upload, .licanse-upload{
          position: relative;
          display: block;
          width: 100%;
          margin: 1em 0;
          padding: 3em 0;
          min-height: 200px;
          cursor: pointer;
          background-color: #fafafa;
          //background: url('../img/upload-img.png') no-repeat center #fafafa;
            .upload-bg{
              position: relative;
              width: 100%;
              background: url('../img/upload-img.png') no-repeat center;
              background-size: 60px 60px;
              height: 70px;
            }
            .dropit{
              position: absolute;
              width: 100%;
              height: 100%;
              display: block;
              top:0;
              z-index: 1;
            }
            p{font-size: 14px; text-align: center;color: #bdbdbd;}
        }

      }
      p.text-info{text-align: left;font-size: 14px;width: 80%; color: #111; a{color: blue;}}
      button.btn-default{width: 30%; margin: 1em 0;}
    }
}
