.Welcome-sec{
  position: relative;
  margin: 0;
  padding-top: 8em;
  width: 100%;
  min-height: 200px;
  background: url('../img/bgpt.png') no-repeat;

  .text-col{padding-left: 0;}

  background-size:cover;
  background-position: center;
  .foto-host{
    text-align: center;
    position: relative;
    padding-bottom: 2.5em;
    img{
      right: 0;
      border-radius: 50%;
      height: 130px;
      width: 130px;
    }
  }
  .wellcome-text{
    position: relative;
    width: 100%;
      padding: 1.5em 0;
        h1.tittle{
          font-size: 30px; font-weight: bold;color: #fff;
          margin-bottom: 1em;
        }
        p{line-height: 15px;font-size: 14px;color: #fff;}
  }
}
.konten-sec{
  position: relative;
  width: 100%;
  margin-top: -1em;
  min-height: 300px;
}

.tab-my-experience{
  position: relative;
  width: 100%;
  .ma-exp{
    position: relative;
    width: 100%;
    margin-top: 1em;
    .tabs2{
      .tab-link2{
        background-color: #fff;
      }
      .tab-link2.current2{
        .tes{
         border-bottom: 4px solid $coloridentitas1;
          padding-bottom: 0.9em;
        }
        p{color: #000;font-weight: bold;}
      }
    }
    .your-listing-wrap,.Under-review-wrap{
      position: relative;
      width: 100%;
      margin-bottom: 4em;
    }
    .ur-listing-detail{
      position: relative;
      width: 100%;
      margin: 0;
      padding: 1.5em 0;
      border-bottom: 1px solid #bdbdbd;
      .btn{
        padding        : 10px 30px;
        width: 80%;
        margin-bottom: 1em;
        font-weight: bold;
      }
      .img-your-Listing{
        position: relative;
        min-width: 100%;
        img{
          position: relative;
          width: 100%;
          min-height: 150px;
          //min-width: 300px;
          //min-width: 330px;
          //max-width: 300px;
          //max-height: 330px;

        }

      }
      .listing-info-box{
        position: relative;
        width: 100%;
          h3{
            font-size: 18px;
            font-weight: bold;
            color: $coloridentitas1;
          }
          p{line-height: 15px;}
          p.sub-t{
            font-size: 12px;
            color: #bdbdbd;
          }
          p.date-available{
            font-size: 14px;
            color: #111;
              a{font-size: 14px;color: $coloridentitas1; margin-left: 1em;}
              a.edit-btn::before{
                font-family: "FontAwesome";
                content: '\f044';
              }
              a.del-btn::before{
                font-family: "FontAwesome";
                content: '\f014';
              }

          }
      }
    }
    .booking-status{
      position: relative;
      width: 100%;
      margin: 2em 0;
      padding: 1.5em;
      padding-bottom: 3em;
      border: 1px solid #bdbdbd;
      .img-Booking{
        position: relative;
        min-width: 100%;
        img{
          position: relative;
          width: 100%;
          min-height: 300px;
          //min-width: 300px;
          //min-width: 330px;
          //max-width: 300px;
          //max-height: 330px;

        }
        button{margin-top: 1.5em; width: 100%;}
      }
      table.detail-booking{
        position: relative;
        width: 100%;
        thead{
          th{
            h3{
              font-size: 18px;
              font-weight: bold;
              color: $coloridentitas1;
            }
          }
        }
        tbody{
          td{
            padding: 0.5em 0;
            p{
              line-height: 15px;
            }
            .p-text{
              font-size: 12px;
              color: #bdbdbd;
            }
            .a-text{
              font-size: 14px;
              color: #000;
            }
            h3.price-text{
              font-size: 18px;
              font-weight: bold;
              color: $coloridentitas1;
            }
          }
        }

      }

    }
    .active-booking,.pending-booking,.histori-booking{
      span.status-doang{
        cursor: default;
        color            : $coloridentitas1;
        background-color : transparent;
        border-color     : $coloridentitas1;
      }
    }
    .pending-booking{
      a.btn{margin-top: 1em;}
    }
    .histori-booking{
      a.btn{margin-top: 1em;}
    }

  }
}
.tab-Payout-History{
  position: relative;
  width: 100%;
}
.userSec-wrap{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;
    .say-Thanks{
      position: relative;
      width: 100%;
      text-align: left;
        h1{
          font-size: 30px;
          font-weight: bold;
            span{color: $coloridentitas1;}
        }
        p.text,p.regard{
          font-size: 14px;
        }
        p.regard span{color: $coloridentitas1}
    }
    .recommended{
      position: relative;
      width: 100%;
      margin-top: 3em;
        p.tittle-Recommended{
          font-size: 18px;
          font-weight: bold;
        }
    }


}
.tab-payOut-Methods{
  position: relative;
  width: 100%;
  .ma-payout-method{
    position: relative;
    width: 100%;
    margin-top: 1em;
    .tabs2{
      .tab-link2{
        background-color: #fff;
      }
      .tab-link2.current2{
        .tes{
         border-bottom: 4px solid $coloridentitas1;
          padding-bottom: 0.9em;
        }
        p{color: #000;font-weight: bold;}
      }
    }
    .paypal-wrap{
      position: relative;
      width: 80%;
      min-height: 400px;
      margin: 2em 0;
        img.logo-paypal{
          width: 300px;
          height: 100px;
          margin: 2em 0;
        }
        p{
          font-size: 14px;
          text-align: left;
        }
        .btn{padding: 5px 30px;}
    }
    .Bank-Transfer-wrap{
      position: relative;
      width: 100%;
      min-height: 400px;
      margin: 2em 0;
        .form-group{
          width: 70%;
        }
        h3{
          font-size: 18px;
          font-weight: bold;
          color: #000;
        }
    }


  }
}
.tab-My-Orders{
  .host-ma-order{
    position: relative;
    width: 100%;
    margin-top: 1em;
    .tabs2{
      .tab-link2{
        background-color: #fff;
      }
      .tab-link2.current2{
        .tes{
         border-bottom: 4px solid $coloridentitas1;
          padding-bottom: 0.9em;
        }
        p{color: #000;font-weight: bold;}
      }
    }

    .booking-status{
      position: relative;
      width: 100%;
      margin: 1.5em 0;
      padding: 1.5em;
      border: 1px solid #bdbdbd;
      .img-Booking{
        position: relative;
        min-width: 100%;
        img{
          position: relative;
          width: 100%;
          min-height: 300px;
          //min-width: 300px;
          //min-width: 330px;
          //max-width: 300px;
          //max-height: 330px;

        }
        button{margin-top: 1.5em; width: 100%;}
      }
      table.detail-booking{
        position: relative;
        width: 60%;
        thead{
          th{
            h3{
              font-size: 18px;
              font-weight: bold;
              color: $coloridentitas1;
            }
          }
        }
        tbody{
          td{
            text-align: left;
            padding: 0.5em 0;
            p{
              line-height: 15px;
            }

          }

        }

      }
      .p-text{
        font-size: 12px;
        color: #bdbdbd;
      }
      .a-text{
        font-size: 14px;
        color: #000;
      }
      h3.price-text{
        font-size: 18px;
        font-weight: bold;
        color: $coloridentitas1;
      }

    }
    .st-btn-box{
      position: absolute;
      top:0;
      right: 0;
      width: 230px;
      padding-right: 1em;
    }
    .active-booking,.pending-booking,.histori-booking{
      span.status-doang{
        cursor: default;
        position: relative;
        margin-bottom: 1em;
        width: 100%;
        color            : $coloridentitas1;
        background-color : transparent;
        border-color     : $coloridentitas1;
      }
    }
    a.btn-float{
      position: relative;
      margin-bottom: 1em;
      width: 100%;
    }
    .pending-booking{
      a.btn{margin-top: 1em;}
    }
    .histori-booking{
      a.btn{margin-top: 1em;}
    }

  }
}
