.message{
  position: relative;
  width: 100%;
  margin: 1em 0;
    .message-img{
      position: relative;
      img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      p.message-name{
        font-size: 12px;
        font-weight: bold;
        color: #212121;
        text-align: center;
      }
    }
    .message-sec{
      position: relative;
      padding: 1em 0 1.2em 0;
      border-bottom: 1px solid #bdbdbd;
        p{font-size: 14px;}
        p.tgl-n-action{
          line-height: 10px;
          color: #868686;

            a{margin: 0 0.5em}
            a.mark-read,a.read-btn,a.Unread-btn{color: #bdbdbd}
            a.delete-btn{color: $coloridentitas1}
        }
        p.message-text{
          color: #bdbdbd;
        }
    }
}
.newmessage{
  .message-sec{
    p.message-text{
      color: #212121;
    }
    p.tgl-n-action{
        a.mark-read,a.read-btn,a.Unread-btn{color: $coloridentitas1}
        a.delete-btn{color: $coloridentitas1}
    }
  }
}

.inbox-section{
  position: relative;
  width: 100%;
  margin-bottom: 4em;
    h3{font-size: 18px; font-weight: bold;}
    .inbox-box{
      position: relative;
      width: 100%;
    }
}

.detail-Inbox{
  position: relative;
  width: 100%;
  margin: 1em 0 3em 0;
    a.back2Inbox{font-size: 14px;}
    a.back2Inbox::before{
      font-family: 'FontAwesome';
      content: '\f190';
      margin-right: 5px;
    }
    .message-box{
      position: relative;
      padding: 1em;
      border: 1px solid #e0e0e0;
        .message{
          margin: 0.5em 0;
        }
        .message-sec{border: 0;}
        .h-message,.i-message{
          position: relative;
          width: 100%;
          border-bottom: 1px solid #bdbdbd;
          margin-bottom: 1em;
        }
        .i-message{padding-bottom: 1em}
        .reply-message{
          position: relative;
          width: 100%;
          margin-top:1em;
          h3.tittle-reply{font-size: 18px;font-weight: bold;}
          textarea{resize: none;}
          .btn-wrap23{
            position: relative;
            margin: 1em 0;
            text-align: center;
              .btn{
                width: 25%;
                padding        : 8px 30px;
              }
          }
        }
    }
}
