
  div.listCategory{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
      .TittleImg{
        position: relative;
        text-align: center;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: auto;
        min-width: 100%;
        height: 400px;
        max-height: 400px;
        background: url('../img/bg.jpg') no-repeat;

        background-size:cover;
        background-position: center;
          .TittleBox{

            h2.tittle{
              margin-right: 8em;
              text-align: center;
              vertical-align: middle;
              color: #fff;
            }
          }

      }
      .filter{
        width: 100%;
        position: relative;
        margin: 1em 0;
      }
      .listDestinasi{
        position: relative;
        margin: 1em 0;
        width: 100%;
          .Destinasi{
            position: relative;
            width: 100%;
            min-height: 360px;
            padding: 0;
            background-color: #f00;
                .ImgDestinasi{
                    min-height: 300px;
                    max-height: 300px;
                    width: 100%;
                    img.list-group-image{

                      min-width: 100%;
                      min-height: 100%;
                    }
                }
          }
          /**thumbnail**/
          .item{
            .thumbnail{
              margin-bottom: 20px;
              padding: 0px;
              -webkit-border-radius: 0px;
              -moz-border-radius: 0px;
              border-radius: 0px;
              img.list-group-image{
                min-height: 340px;
                max-height: 340px;

              }
              .host{
                width: 100%;
                position: relative;
                  img.hostImg{
                    position: absolute;
                    border-radius: 50%;
                    width: 70px;
                    height: 70px;
                    z-index: 3;
                    top:-3em;
                    left: 1em;
                  }
                  p.hostName{
                    margin-left: 6em;
                    margin-top: 0.5em;
                    font-size: 16px;
                    font-weight: 500;
                  }
              }
              .caption{
                .list-group-item-heading{
                  font-weight: bold;
                  color: $coloridentitas1;
                }
              }
            }
          }

          .item.list-group-item{
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
                .list-group-image{
                    margin-right: 10px;
                  }
                .thumbnail{
                  margin-bottom: 0px;
                }
                .caption{
                  padding: 9px 9px 0px 9px;
                }
                img.list-group-image{
                  float: left;
                }
          }

          .item.list-group-item:nth-of-type(odd){
            background: #fff;
          }

          .item.list-group-item:before, .item.list-group-item:after{
            display: table;
            content: " ";
          }
          .item.list-group-item:after{
            clear: both;
          }
          .list-group-item-text{
            margin: 0 0 11px;
          }

          /**thumbnail end**/

      }

  }

  .mobile-filter{
    //position: fixed;
    //bottom: 2em;
    margin: 2em 0;
    width: 100%;
    padding: 0 1em;
    z-index:20;
      .btn{color: #fff; background-color: $coloridentitas1;font-size: 18px; font-weight: bold;width: 100%;}
  }
.float-filter{
  position: fixed;
  bottom: 2em;
  margin: 0;
}
