.sales-section{
  position: relative;
  width: 100%;
  margin: 1em 0;
  margin-bottom: 2em;
  min-height: 400px;
    .congratulation-section{
      position: relative;
      width: 100%;
      padding: 3em;
      margin-bottom: 1.5em;
      background-color: $coloridentitas1;
        p,h2{text-align: center;color: #fff; font-weight: bold;}
        p{font-size: 18px;}
        h2{font-size: 28px;}
    }
    .table-sales{
      position: relative;
      width: 100%;
      margin: 1em 0;
        table{
          position: relative;
          width: 100%;
            thead{
              border: 1px solid #bdbdbd;
              th{padding: 1em 0;text-align: center;font-size: 12px;color: #bdbdbd}
            }
            tbody{
              tr{
                border-top: 1px solid #bdbdbd;
              }

              td{
                padding: 1em 0; text-align: center;font-size: 14px;color: #111;
              }
              tr:last-child{margin-bottom: 1.5em; border-bottom: 1px solid #bdbdbd;}
            }
            tfoot{

              tr{
              border: 1px solid #bdbdbd;}
              td{ padding: 1em 0; text-align: center; font-size: 14px; font-weight: bold; color: #111;}
              .total{text-align: right;}
            }
        }
    }
    .message-img{
      position: relative;
      img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      p.message-name{
        font-size: 12px;
        font-weight: bold;
        color: #212121;
        text-align: center;
      }
    }
    .message-sec{
      position: relative;
      padding: 1em 0 1.2em 0;
      border-bottom: 1px solid #bdbdbd;
        p{font-size: 14px;}
        p.tgl-n-action{
          line-height: 10px;
          color: #868686;

            a{margin: 0 0.5em}
            a.read-btn,a.Unread-btn{color: #bdbdbd}
            a.delete-btn{color: $coloridentitas1}
        }
        p.message-text{
          color: #bdbdbd;
        }
    }
}
