
  div.product-detail{
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 3em;
    width: 100%;
    height: auto;

      .TittleImg{
        position: relative;
        text-align: center;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: auto;
        min-width: 100%;
        height: 400px;
        max-height: 400px;
        background: url('../img/bg.jpg') no-repeat;

        background-size:cover;
        background-position: center;
          .TittleBox{

            h2.tittle{
              margin-right: 8em;
              text-align: center;
              vertical-align: middle;
              color: #fff;
            }
          }

      }
      ._box{
        position: relative;
        width: 100%;
      }
      p.ceck::before{

        content:"\f00c";
        font-family: FontAwesome;
        color: $coloridentitas2;
        font-weight: bold;
        font-size: 15px;
        margin-right: 0.5em;
      }
      .product-wrap{
        position: relative;
        min-width: 100%;
        height: auto;
        margin: 0;
        padding: 2em 0;
          .host, .dsc, .booking{
            position: relative;
            width: 100%;
          }


          .host{
            border: 1px solid #eee;
            min-height: 300px;
            padding: 1.5em;
              .host-profile-section{
                position: relative;
                width: 100%;
                min-height:50px;
                text-align: center;

                  .foto-host{
                    margin: 1em auto 0.5em auto;
                    position: relative;
                    img{
                      border-radius: 50%;
                      height: 120px;
                      width: 120px;
                    }
                  }
                  .hosted-by{
                    font-size: 12px;
                    color: #bdbdbd;
                    margin-bottom: 0;
                  }
                  .host-name{
                    font-size: 18px;
                    color: #000000;
                    margin-top: 0;
                    margin-bottom: 1em;
                    text-transform: capitalize;
                  }
                  .btn-default{
                    margin: 1em 0 0 0;
                  }
                  .verified-box{
                    text-align: left;
                    margin: 1em 0;
                    width: 100%;
                    position: relative;
                      .verified-status{
                        li{
                          margin: 0.5em 0;
                          p.virif{
                            font-size: 14px;
                          }

                        }
                      }
                  }
              }
          }
          .dsc{
            .dsc-product-section{
              position: relative;
              width: 100%;
              min-height:50px;
                h3.tittle-Product{
                  font-size: 30px;
                  color: $coloridentitas1;
                  font-weight: bold;
                  text-transform: capitalize;
                }
                .lok{ text-align: left;
                  p{
                    font-size: 14px;
                    margin: 0;
                    line-height: 20px;
                  }
                }
                .rat{ text-align: right;
                  p{
                    font-size: 14px;
                    margin: 0;
                    line-height: 20px;
                  }
                  .ratting{
                    float: right;
                  }
                }
                .overv{
                  margin: 1em 0;
                    .overv-tittle{
                      font-size: 18;
                      font-weight: bold;
                      color: #000;
                      margin: 0;
                    }
                    .overv-text{
                      font-size: 14px;
                      margin-top: 0;
                    }
                }
                .fasilitas{
                  margin: 1em 0;
                    .fasilitas-tittle{
                      font-size: 18;
                      font-weight: bold;
                      color: #000;
                      margin: 0;
                    }
                    a.btn-primary{
                      width: 30%;
                    }
                    .fasilitas-table{
                      width: 100%;
                      .aaaa {width: 60%;}
                      .aaab {width: 30%;}
                    }
                }
            }
          }
          .booking-n-share{
            width: 100%;
              .booking-section{
                position: relative;
                margin-bottom: 1em;
                  .price{
                    width: 100%;
                    padding: 0.5em 15px;
                    background-color: $coloridentitas1;
                      p{color: #fff;margin: auto 0;}
                      p.pri{font-size: 14px;}p.per{font-size: 12px;text-align: right;}
                  }
                  .booking{
                    position: relative;
                    width: 100%;
                    border: 1px solid #eee;
                    padding: 1em;
                      .btn{
                        padding        : 5px 30px;
                      }
                  }
              }
              .share{
                position: relative;
                border: 1px solid #eee;
                width: 100%;
                  .sh-tittle{
                    position: relative;
                    width: 100%;
                    padding: 0.5em 15px;
                      p{margin: auto 0; font-size: 14px; font-weight: bold;text-align: center;}
                  }
                  .share-box{
                    position: relative;
                    padding: 0.5em;
                    width: 100%;
                    background-color: #f9f9f9;
                    text-align: center;

                      span{display: inline-block; padding: 0.5em;
                        line-height: 10px;
                        margin: 0 auto;
                        a{display: block;}
                        i{
                          color: #fff;
                          font-size: 1.2em;
                          margin: 0 auto;
                        }
                      }
                      span.fb{
                        position: relative;
                        background-color: #306199;
                        width: 60%;
                        text-align: left;

                      }
                      span.fb a::after{
                        content: "FACEBOOK";
                        margin-left: 1.8em;
                        color: #fff;
                        font-weight: 500;
                      }
                      span.tw{
                        background-color: #26c4f1;
                        width: 15%;
                      }
                      span.gp{
                        background-color: #e93f2e;
                        width: 15%;
                      }
                  }
              }
          }

      }
      .galery-img{
        position: relative;
        width: 100%;
        margin: 2em 0;
        h3.photo-gal{
          font-size: 18px;
          font-weight: bold;
        }
        .my-gallery {
          width: 100%;
          float: left;
          }
          .my-gallery img {
          width: 100%;
          height: 100%;
          min-height: 210px;
          max-height: 210px;
          }
          .my-gallery figure {
          display: block;
          float: left;
          margin: 0 0.9em 5px 0;
          min-width: 210px;
          width: 10%;
          }
          .my-gallery figcaption {
          display: none;
          }
        #links{
          text-align: left;
          img{
            min-width: 210px;
            min-height: 200px;
            max-width: 210px;
            max-height: 200px;
            margin: 0.5em;
          }
        }
      }
      .map-wrap{
        position: relative;
        width: 100%;
        margin: 1em 0;
        #map-canvas{
          width: 100%;
          height: 400px;
          margin: 1em auto;
        }
         p{line-height: 15px;}
            h3{
              font-size: 18px;
              font-weight: bold;
            }
      }
      .note-wrap{
        position: relative;
        width: 100%;
        margin: 1em 0;
          h3{
            font-size: 18px;
            font-weight: bold;
          }

      }
      .write-Review{
        position: relative;
        width: 100%;
        margin: 1em 0;
          h3{
            font-size: 18px;font-weight: bold;
          }
          .btn-detail-trip-review{
            max-width: 25%;
          }
      }
      .review-wrap{
        position: relative;
        width: 100%;
        margin: 1em 0;
          h3{
            font-size: 18px;
            font-weight: bold;
          }
          p.lit{
            line-height: 15px;
            font-size: 14px;
            color: #757575;
          }
          table.review{
            width: 100%;
            margin: 1em 0;
              td.img-column{width: 8%;}
              td.review-column{width: 92%;

              }

                div.guests-img{
                  margin: 0 auto;
                  img{
                    border-radius: 50%;
                    height: 60px;width: 60px;
                  }
                  p.guest-name{
                    text-align: left;
                    margin-left: 0.5em;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 0.5em;
                  }
                }

                .review-text{
                  border-bottom: 1px solid #eee;
                  padding-bottom: 1em;
                  p{line-height: 10px;}
                  p.isi-review{
                    font-size: 14px;
                    font-weight: normal;
                  }
                  p.info-review{
                    font-size: 12px;
                    color: #7d7d7d;
                  }
                  p.info-review::after{
                    font-family: FontAwesome;
                    content: "\f11d";
                    margin-left: 5px;
                  }
                }

          }
      }

  }

  .mobile-booking{
    //position: fixed;
    //bottom: 2em;
    margin: 2em 0;
    width: 100%;
    padding: 0 1em;
    z-index:20;
      .btn{color: #fff; background-color: $coloridentitas1;font-size: 18px; font-weight: bold;width: 100%;}
  }
  .float-filter{
  position: fixed;
  bottom: 2em;
  margin: 0;
  }
