.reset-pass-section{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;  
}

.reset-wrap{

    form{
      width: 100%;
      position: relative;

      .btn-wrap23{
        position: relative;
        width: 40%;
        margin: 2em auto;
      }


    }
    h1{
      font-size: 30px;
      font-weight: bold;
      color: #000;
      text-align: center;
      margin-bottom: 1em;
    }

}
