/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
  .reset-pass-section{
    padding-top: 7em;
    .boxed60{
      max-width: 85%;
      .reset-wrap{

        .btn-wrap23{
          width: 100%;
          .btn{
            width: 100%;
            padding: 8px 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 320px) {

}
